<template>
  <header class="main-header">
    <nav class="main-nav">
      <ul class="nav-links">
        <nuxt-link tag="li" to="/blog" class="nav-link"><a>All posts</a></nuxt-link>
        <nuxt-link tag="li" to="/about" class="nav-link"><a>About</a></nuxt-link>
      </ul>
    </nav>
  </header>
</template>
<style>
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #022d30;
  height: 4.5rem;
}
.main-nav{
  height: 100%;
}
.nav-links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
.nav-link{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.nav-link a {
  display: block;
  text-decoration: none;
  color: white;
}
.nav-link a:hover,
.nav-link a:active,
.nav-link.nuxt-link-active a {
  color: #06c421;
}
.nav-link.nuxt-link-active {
  border-bottom: 3px solid #06c421;
}
</style>
