<template>
  <section id="posts">
    <PostPreview
      v-for="post in posts"
      :key="post.id"
      :title="post.title"
      :excerpt="post.preview"
      :thumbnailURL="post.thumbnail"
      :id="post.id" />
  </section>
</template>

<script>
import PostPreview from '@/components/Blog/PostPreview'
export default {
  components: {
    PostPreview
  },
  asyncData(context) {
    return context.app.$storyapi.get('cdn/stories', {
      version: context.isDev ? 'draft':'published',
      starts_with: 'blog/'
    })
    .then(res => {
      return {
        posts: res.data.stories.map(b => {
          return {
            id: b.slug,
            title: b.content.title,
            preview: b.content.summary,
            thumbnail: b.content.thumbnail
          }
        })
      }
    });
  }
}
</script>

<style scoped>
#posts {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 35rem) {
  #posts {
    flex-direction: row;
  }
}
</style>
